body{
    margin:1.5em;
}
nav{
    border:2px solid black;
}
.fakeygram{
    display:inline-block;
    font-size:2em;
    margin-left:1em;
}

span a{
    font-size:1.1em;
    color:black;
    text-decoration:none;
    margin-left:5%;

}
span a:hover{
    color: white;
}
span a > img:hover{
    border: white 5px solid;
}
span img{
    float:right;position:relative;top:19px;right:16px;
}
.alert{
    color: red;
}
.example-wrapper{
    margin: 1.5em;
}
.no-deco{
    color:black;
    text-decoration:none;
}
table{
    border:black 1px solid; width:70%
}
