<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <spannk rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <style>
            html{
                background: url("{{asset('bg.png')}}")  fixed;
                overflow-x: hidden;
            }
            .bt{
                  background-color: rgba(210, 245, 255, 1);
                    border: none;
                    color: black;
                    padding: 10px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 14px;
                    margin: 4px 2px;
                    cursor: pointer;
            }
            .bt:hover{
                background-color:gray;
            }
            th{
                position:relative;
                right:5%;
            }
        </style>
            {% block stylesheets %}
         <link href="{{ asset('styles.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        {%block sidebar%}
        <nav style="background:rgba(20, 99, 187, 1);font-size:1.1em;wdith:100%;margin:-1.6%;margin-bottom:0;">
            <h1 class="fakeygram"> Fakey-Mail</h1>
            <span ><a href="/newMessage" >New Message</a></span>
            <span><a href="/dashboard" >Inbox</a></span>
            <span><a href="/outbox" >Outbox</a></span>
            <span><a href="/logout" >Log-Out</a></span>
            <span><a href={{'/profile?email='~app.user.email}} > <img src="{{ asset('uploads/'~app.user.pfp) }}"style="height:50px;width:50px;border-radius:50%;top:1.3em;right:2em;border:black solid 0.5px;" alt="pfp here"/></a></span>  
        </nav>
         {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
