{% extends 'base.html.twig' %}

{% block title %}FakeyMail-{{app.user.name}}!{% endblock %}
{% block body %}
<style>
    
</style>

<div class="example-wrapper">
    <h2 id="title">Inbox</h2>
 <table>    
	<tr><th>From</th><th>Subject</th></tr>
    {% for message in messages %}
		<tr><td>{{message.sender.name}}</td><th>{{message.subject}}</td></tr>
   {% endfor %}
 </table>
    
</div>
{% endblock %}
